<div>
  
  <a ng-href="#!/noteDecks/{{ title }}/noteCards"><h3>{{ title }}</h3></a>

  <div ng-transclude></div>

  <button ng-click="showDelete = true">X</button>

  <div class="deleteDeck" ng-show="showDelete">

    <p>Are you sure you want to delete this deck?  This action cannot be reversed</p>

    <button ng-click="deleteDeck(title)">Delete</button>

    <button ng-click="showDelete = false">Cancel</button>

  </div>

  <button ng-click="showEditForm()">Edit</button>

  <div ng-if="showEdit">

  <form name="editForm" class="editDeck" ng-submit="editForm.$valid && submit(editTitle,editDescription)" novalidate>
    
    <label for="title">Edit Deck Name: </label>

    <textarea name="title" ng-required="true" ng-model="editTitle"></textarea>

    <label for="content">Edit Deck Description: </label>

    <textarea name="content" ng-model="editDescription"></textarea>

    <input type="submit" value="Save">

  </form>

  <button ng-click="hideEdit()">Cancel</button>

  </div>

</div>