<div class = "filter">
  
  <input class="filterInput" placeholder="Filter Cards" ng-model="cardFilter" />

</div>

<button class="showMassDelete btn btn-md btn-danger" ng-click="ctrl.showMassDeleteForm(true)">Delete Selected Cards</button>

<div class="massDeleteFormWrapper" ng-show="showMassDelete">

  <form name="massDeleteForm" class="massDeleteForm" ng-submit="ctrl.submitMassDeleteForm()">

    <p class="massDeleteText">Are you sure you want to delete these cards?</p>

    <button type="button" class="massDeleteBtn btn btn-md btn-default" ng-click="ctrl.showMassDeleteForm(false)">Cancel</button>

    <button class="massDeleteBtn btn btn-md btn-danger" ng-click="ctrl.submitMassDeleteForm()">Delete</button>

  </form>

</div>

<form name="addCardForm" class="addCardForm" ng-submit="ctrl.addNoteCard(addCardTitle,addCardContent)" novalidate>

  <h4 class="addCardTitle">Add New Card to Deck</h4>

  <label for="title">Card Name:</label>
  
  <input class="addCardSetting" name="title" type="text" ng-required="true" ng-model="addCardTitle">

  <label for="content">Card Content (optional):</label>

  <textarea class="addCardSetting" name="content" cols="35" ng-model="addCardContent"></textarea>

  <input class="btn btn-lg btn-success" type="submit"> 

  <p ng-show="addCardInvalid">Please Provide Valid Card Name and Content</p>

</form>

<div class="cards">

  <div class="col-md-4 col-sm-6" ng-repeat="(cardKey,cardValue) in noteCards | with:cardFilter">

    <input class="cardSelection" type="checkbox" ng-click="selected[cardKey] = !selected[cardKey]">

    <note-card class="noteCardWrapper" card="{{ cardKey }}" deck="{{ deckName }}">
      
    </note-card>

  </div>

</div>