form.addCardForm {

  position: fixed;

  left: 0;

  width: 100%;

  bottom: 0;

  z-index: 10;

  background: #eee;

  height: 215px;

}

@media (min-width: 768px) {

  form.addCardForm {

    right: 0;

    width: 300px;

    left: auto;

    bottom: auto;

    z-index: auto;

  }

}

@media (min-width: 1224px) {

  form.addCardForm {

    right: 23%;

  }

}

h4.addCardTitle{

  font-family: inherit;

}

.addCardSetting {

  display: block;

  margin: 14px;

}

input.btn.btn-lg.btn-success {

  float: right;

  margin-right: 17px;

}

div.cards {

  clear: both;

  padding-top: 5px;

}

note-card.noteCardWrapper {

  display: block;

  margin-top: 10px;

}