<div class = "filter">
  
  <input ng-model="cardFilter" />

</div>

<form name="addCardForm" class="addCardForm" ng-submit="ctrl.addNoteCard(addCardTitle,addCardContent)" novalidate>
  
  <input type="text" placeholder="Card Name" ng-required="true" ng-model="addCardTitle">

  <input type="textarea" placeholder="Card Content" ng-model="addCardContent">

  <input type="submit"> 

  <p ng-show="addCardInvalid">Please Provide Valid Card Name and Content</p>

</form>

<div class="cards">

  <note-card ng-repeat="(cardName,cardProperties) in noteCards | with:cardFilter" note-card-deck="{{ deckName }}" note-card-title="{{ cardName }}" note-card-content="{{ cardProperties.content }}">
    
    {{ cardProperties.content }}

  </note-card>

</div>