<div class = "filter">
  
  <input ng-model="deckFilter" />

  <button ng-click="showAddDeck = true">+</button>

</div>

<form name="addDeckForm" class="addDeckForm" ng-show="showAddDeck" ng-submit="ctrl.addNoteDeck(addDeckTitle,addDeckDescription)" novalidate>
  
  <input type="text" placeholder="Deck Name" ng-required="true" ng-model="addDeckTitle">

  <input type="textarea" placeholder="Deck description (optional)" ng-model="addDeckDescription">

  <input type="submit"> 

  <p ng-show="addDeckInvalid">Please Provide a Valid Deck Name</p>

</form>

<div class="notes">

  <note-deck ng-repeat="(deckName,deckProperties) in noteDecks | orderBy:'title' | filter:deckFilter" note-deck-title="{{ deckName }}">

  {{ deckProperties.description }}

  </note-deck>

</div>