<div class = "filter">
  
  <input class="filterInput" placeholder="Filter Decks" ng-model="deckFilter" />

</div>

<button class="addDeckButton btn-lg btn-success" ng-click="showAddDeck = true">Add Deck</button>

<div class="addDeckOverlay" ng-show="showAddDeck">

  <form name="addDeckForm" class="addDeckForm" ng-submit="ctrl.addNoteDeck(addDeckTitle,addDeckDescription)" novalidate>
    
    <label for="title">New Deck Name:</label>

    <input class="addDeckTitle" name="title" type="text" ng-required="true" ng-model="addDeckTitle">

    <label for="description">New Deck Description (optional):</label>

    <textarea class="addDeckDescription" name="description" cols="60" ng-model="addDeckDescription"></textarea>

    <div class="addDeckButtons">

      <button type="button" class="btn btn-lg btn-default" ng-click="showAddDeck = false">Cancel</button>

      <input class="addDeckSubmit btn btn-lg btn-success" type="submit"> 

    </div>

    <p ng-show="addDeckInvalid">Please Provide a Valid Deck Name</p>

  </form>

</div>

<div class="notes">

  <ol>

    <div class="col-md-4 col-sm-6" ng-repeat="(deckKey,deckValue) in noteDecks | filter:deckFilter">

      <note-deck class="noteDeckWrapper" deck="{{ deckValue }}">

      </note-deck>

    </div>

  </ol>

</div>